.column1{
    width: 120px;
}
.column2{
    width: 400px;
    text-align: center;
}
.column3{
    width: 150px;
}
.column4{
    width: 200px;
    text-align: center;
}
.column5{
    width: 100px;
    text-align: center;
}
.column6{
    width: 100px;
    text-align: center;
}
.order-button{
    text-align: right; 
    padding-right: 1rem;
}
