.image{
    width: 80px;
}
.column1{
    width: 120px;
}
.column2{
    width: 400px;
}
.column3{
    width: 150px;
}
.column4{
    width: 200px;
    text-align: center;
}
.column5{
    width: 100px;
    text-align: center;
}
.column6{
    width: 100px;
    text-align: center;
}
.delete{
    text-align: center; 
    font-weight: 900; 
    cursor: pointer;
}