.new {
    color: brown;
}
.sale {
    color: goldenrod
}

.wrap {
    display: flex;
    margin-right: auto;
    padding-left: 80px;
}

.navbar-expand-lg {
    flex-flow: nowrap;
    justify-content: space-between;
}

.nav-item {
    padding-right: 40px;
 
}

.nav-item:last-child {
    padding-right: 0px;
}