.add-button{
    text-align: center;
}
.product-description{
    font-weight: 400;
    text-align: justify;
}
.product-description-column{
    width: 55rem;
}
.product-categoryPrice-column{
    width: 5rem;
    text-align: center;
}
.image{
    width: 100px;
}